@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% { /* 0.3s delay */
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1.3s ease-out forwards;
}

.flex:has(#christian:hover) #matthew {
  opacity: 0;
}

.flex:has(#christian:hover) #friends {
  opacity: 1;
}

.flex:has(#matthew:hover) #christian {
  opacity: 0;
}

.flex:has(#matthew:hover) #family {
  opacity: 1;
}
